body,div, a, li,section, span,pre,code{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: arial,"Hiragino Sans GB","Microsoft Yahei","微软雅黑","宋体",Tahoma,Arial,Helvetica,STHeiti;
}
a img{ 
    border: none;
}
a{
    text-decoration: none;
}
a:link{
    color: #3F505B;
}
a:visited{
    color: #b1b8bd;
}
a:hover{
    color: #2c85ff;
}
a.visited {
    color: #b1b8bd;
}
a.visited:hover {
    color: #2c85ff;
}
ol, ul{ 
    list-style: none; 
    margin: 0px;
    padding: 0px;
}
.btn{
	display: inline-block;
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background: #fff;
	font-size: 14px;
	color: #333;
}
.btn:hover{
	background: #f4f4f4;
	color: #000
}


.container{
	width: 800px;
	max-width: 100%;
	margin: auto;
}
.header{
	height: 200px;
	margin-bottom: 20px;
	padding: 30px 0;
	background: #00bcd4;
}
.header h1{
	text-align: center;
	font-size: 34px;
	font-weight: normal;
	color: #fff;
}
.img-list{
	height: 100px;
}
.img-list img{
	display: block;
	float: left;
	height: 100%;
	opacity: .6;
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.img-list img:hover{
	opacity: 1;
	cursor: pointer;
}